<ion-view view-title="Nevaeh Studio Salon">

	<ion-content class="has-footer">

        <ion-slide-box on-slide-changed="slideHasChanged($index)" does-continue="true" show-pager="false">
            <ion-slide>
                <div class="image-box">
                    <img class="full-image" src="img/one.jpg">
                    <p>Nevaeh Studio Salon</p>
                </div>
            </ion-slide>
            <!--<ion-slide>-->
                <!--<div class="image-box">-->
                    <!--<img class="full-image" src="img/slide-2.jpg">-->
                    <!--<p>Maecenas nec nulla a massa ultrices</p>-->
                <!--</div>-->
            <!--</ion-slide>-->
            <!--<ion-slide>-->
                <!--<div class="image-box">-->
                    <!--<img class="full-image" src="img/slide-1.jpg">-->
                    <!--<p>At interdum orci risus at lectus</p>-->
                <!--</div>-->
            <!--</ion-slide>-->
        </ion-slide-box>
        <button class="button button-full button-assertive">
            Hair Styles
        </button>
        <div class="list">
            <a class="item item-thumbnail-left item-icon-right" href="#" onclick="window.open('http://nevaeh.chefsmobileapps.com/bob/', '_blank', 'location=no'); return false;">
                <img src="img/bob.jpg">
                <h2 class="sam50">Bob Styles</h2>
                <i class="icon ion-ios-arrow-forward"></i>
            </a>

            <a class="item item-thumbnail-left item-icon-right" href="#" onclick="window.open('http://nevaeh.chefsmobileapps.com/short/', '_blank', 'location=no'); return false;">
                <img src="img/short.jpg">
                <h2 class="sam50">Short Styles and Cuts</h2>
                <i class="icon ion-ios-arrow-forward"></i>
            </a>
            <a class="item item-thumbnail-left item-icon-right" href="#" onclick="window.open('http://nevaeh.chefsmobileapps.com/natural/', '_blank', 'location=no'); return false;">
                <img src="img/natural.jpg">
                <h2 class="sam50">Natural Hair Styles</h2>
                <i class="icon ion-ios-arrow-forward"></i>
            </a>
            <a class="item item-thumbnail-left item-icon-right" href="#" onclick="window.open('http://nevaeh.chefsmobileapps.com/kid/', '_blank', 'location=no'); return false;">
                <img src="img/kid.jpg">
                <h2 class="sam50">Kid's Styles</h2>
                <i class="icon ion-ios-arrow-forward"></i>
            </a>
            <a class="item item-thumbnail-left item-icon-right" href="#" onclick="window.open('http://nevaeh.chefsmobileapps.com/updo/', '_blank', 'location=no'); return false;">
                <img src="img/updo.jpg">
                <h2 class="sam50">Up-Do Styles</h2>
                <i class="icon ion-ios-arrow-forward"></i>
            </a>
            <a class="item item-thumbnail-left item-icon-right" href="#" onclick="window.open('http://nevaeh.chefsmobileapps.com/weaves/', '_blank', 'location=no'); return false;">
                <img src="img/weave.jpg">
                <h2 class="sam50">Weaves and Extentions</h2>
                <i class="icon ion-ios-arrow-forward"></i>
            </a>
            <a class="item item-thumbnail-left item-icon-right" href="#" onclick="window.open('http://nevaeh.chefsmobileapps.com/men/', '_blank', 'location=no'); return false;">
                <img src="img/men.jpg">
                <h2 class="sam50">Men's Styles</h2>
                <i class="icon ion-ios-arrow-forward"></i>
            </a>
            <a class="item item-thumbnail-left item-icon-right" href="#" onclick="window.open('http://nevaeh.chefsmobileapps.com/more/', '_blank', 'location=no'); return false;">
                <img src="img/more.jpg">
                <h2 class="sam50">More Healthy Hair</h2>
                <i class="icon ion-ios-arrow-forward"></i>
            </a>

        </div>
		<div class="list">

			<a class="item item-icon-left" href="#">
				<i class="icon ion-android-pin"></i>
                6726 West Main Street Ste.420
			</a>

			<a class="item item-icon-left item-icon-right" href="#">
				<i class="icon ion-chatbubble-working"></i>
                2148433558
				<i class="icon ion-ios-telephone-outline"></i>
			</a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-email"></i>
                sumego_t@yahoo.com
            </a>

            <!--<a class="item item-icon-left" href="#">-->
                <!--<i class="icon ion-email"></i>-->
                <!--http://nevaehstudiofrisco.com-->
            <!--</a>-->

		</div>



	</ion-content>
    <div class="bar bar-footer bar-assertive">
        <a href="#" ui-sref="app.book">
        <div class="title">Book for an Appointment</div>
        </a>
    </div>
</ion-view>
